.out {
   background-color:blue; 
   width: 25%;
   height: 110%;
   position: fixed;
   float: left;
}

.in {
    padding-left: 30%;
}

.menuText{
    padding-top: 15%;
    font-weight: bold;
}
a.e:link{
    color: greenyellow;
    text-decoration: none;
}

a.e:visited {
    color: greenyellow;
    text-decoration: none;
}

a.e:hover{
    color: white;
    text-decoration: none;
}

a.e:active {
    color: white;
    text-decoration: none;
}

.imgShift{
    padding-left: 22%;
    padding-top: 40%;
}
.pic {
    border-radius: 50%;
    height: 20%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(178, 207, 135);
    
}

.rightPush {
  padding-left: 25%;
   
}

.sec {
    padding-top: 0%;
    height: 100%;
    background-color:grey;
    margin: 0px;
}

.back {
    background-color: gray;
    height: 100%;
    width: 100%;
}