@tailwind base;
@tailwind components;
@tailwind utilities;

.under {
  height: 0%;
  width: 100%;
  overflow: hidden;
  transition: all 0.75s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.stack-image {
  opacity: 0;
}
.top {
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition: all 0.75s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.main {
  display: inline-block;
  transition: all 0.75s ease;
  height: 500px;
  width: 100%;
  position: relative;
}

.main[data-open="1"] .under {
  height: 100%;
}

.main[data-open="1"] .top {
  height: 0%;
}

.about {
  background-image: url("../assets/card/team.jpg");
}

.image-mods {
  filter: blur(1px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --pw: 500px;
  --delay: 99s;
}

.animantions-inner {
  animation: innerCircle 7s var(--delay) infinite linear;
}
.animantions-outer {
  /* animation: moveX 5s var(--delay) infinite alternate,
    moveY 5s var(--delay) infinite alternate; */
  animation: outerCircle 9.75s var(--delay) infinite linear;
}

@keyframes innerCircle {
  from {
    opacity: 1;
    transform: rotate(0deg) translateX(calc(var(--pw) * 0.2)) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(-360deg) translateX(calc(var(--pw) * 0.2)) rotate(360deg);
  }
}
@keyframes outerCircle {
  from {
    opacity: 1;
    transform: rotate(0deg) translateX(calc(var(--pw) * 0.4)) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg) translateX(calc(var(--pw) * 0.4)) rotate(-360deg);
  }
}
/* @keyframes moveX {
  from {
    left: var(--org-left);
  }
  to {
    left: var(--left);
  }
}

@keyframes moveY {
  from {
    top: var(--org-top);
  }
  to {
    top: var(--top);
  }
} */
.projects {
  background-image: url("../assets/card/projects.png");
}
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  width: 50%;
  font-weight: bold;
  padding-top: 5px;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  z-index: 2;
  text-align: center;
}

.close {
  overflow: hidden;
  height: 0px;
  width: 0px;
}
.main[data-open="1"] .under .close {
  position: absolute;
  z-index: 2;
  top: 10px;
  height: 20px;
  width: 80px;
  left: calc(100% - 80px);
}

@media screen and (min-width: 1024px) {
  .close {
    display: none;
  }
}

@media (hover: none) {
  .scaled[data-open="1"] {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  }
  .scaled[data-open="0"] {
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75);
  }
}
@media (hover: hover) {
  .scaled:hover {
    transform: scale(1.02);
  }

  .main:hover .top {
    height: 0%;
  }

  .main:hover .under {
    height: 100%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
